<body>
  <div class="nav">
    <ul class="nav-items">
      <li class="item" routerLink="/marker" routerLinkActive="active">
        Marker
      </li>
      <li class="item" routerLink="/airports" routerLinkActive="active">
        Airports
      </li>
      <li class="item" routerLink="/custom-marker" routerLinkActive="active">
        Custom Marker
      </li>
      <li class="item" routerLink="/polyline" routerLinkActive="active">
        Polyline
      </li>
      <li class="item" routerLink="/polygon" routerLinkActive="active">
        Polygon
      </li>
      <li class="item" routerLink="/search" routerLinkActive="active">
        Search
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</body>