<body>
  <div class="nav">
    <ul class="nav-items">
      <li class="item" routerLink="/marker" routerLinkActive="active">
        Marker 
      </li>
      <li class="item" routerLink="/airports" routerLinkActive="active">
        Airports
      </li>
      <li class="item">
        Animation
      </li>
      <li class="item" routerLink="/polyline" routerLinkActive="active">
        Polyline
      </li>
      <li class="item">
        Polygon
      </li>
      <li class="item">
        Custom Popup
      </li>
    </ul>
  </div>
<router-outlet></router-outlet>
</body>
